@tailwind base;
@tailwind components;
@tailwind utilities;

.input-base {
  @apply w-full border rounded px-3 py-2 bg-slate-200 dark:bg-slate-700 text-black dark:text-gray-200;
}

.cancel-btn {
  @apply bg-slate-100 dark:bg-slate-800 text-gray-800 dark:text-gray-100
}

.submit-btn {
  @apply bg-blue-400 hover:bg-blue-600 text-gray-800 dark:text-gray-100
}

.btn-danger {
  @apply bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.thin-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* adjust as needed */
  border-radius: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}